---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'MoFA Search',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="GOSIM超级智能体大赛系列"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: '立即报名',
        href: 'https://opencamp.cn/gosim/camp/MoFA2025',
        icon: 'tabler:download',
      },
      { text: '大赛详情', href: 'https://relevantstudy.github.io/hackathons/mofa-search-detail/' },
    ]}
  >
    <Fragment slot="title">
       MoFA Search
    </Fragment>

    <Fragment slot="subtitle">
        用大模型和智能体施展您的魔法，一起来构建 <span class="text-accent dark:text-white highlight">AI时代的搜索引擎 </span>, 一起来：穿透盲区，超越传统，重新定义搜索。</Fragment>

    <Fragment slot="content">
      全球开源创新汇（GOSIM）是一个面向草根开发者的国际开源社区，举办一系列包括MoFA超级智能体黑客松大赛在内的各种活动。 
    </Fragment>
   </Hero>

</Layout>
