---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'MoFA Search',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="GOSIM超级智能体大赛系列"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: '立即报名',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: '大赛详情', href: 'https://relevantstudy.github.io/hackathons/mofa-search-detail/' },
    ]}
  >
    <Fragment slot="title">
       MoFA Search
    </Fragment>

    <Fragment slot="subtitle">
        用大模型和智能体施展您的魔法，一起来构建 <span class="text-accent dark:text-white highlight">AI时代的搜索引擎 </span>, 一起来：穿透盲区，超越传统，重新定义搜索。</Fragment>

    <Fragment slot="content">
      全球开源创新汇（GOSIM）是一个面向草根开发者的国际开源社区，举办一系列包括MoFA超级智能体黑客松大赛在内的各种活动。（以下是2024年首届超级智能体大赛的宣传视频） 
    </Fragment>
   
    <Fragment slot="image">
      <YouTube id="ZuN29OO1mb0" title="GOSIM Super Agent Hackathon" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>


  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

</Layout>
